{% extends "base_template.html" %}

{% block page_title %}
{{ current_title | title }}
{% endblock %}


{% block page_content %}
{% include "challenges/includes/header.html" %}
    <div class="month-list-container">
      <ul class="nav nav-pills flex-row align-items-center flex-wrap">
          {% for month in months %}
          <li class="nav-item  align-items-center flex-grow-1">
              <a href="{% url "monthly-challenge" month %}">{{ month|title }}</a>
          </li>
          {% endfor %}        
      </ul>
    </div>
    {% endblock %}
