{% extends "base_template.html" %}


{% load static %}

{% block page_css %}
 <link rel="stylesheet" href="{% static "posts/dashboard.css" %}" />  
{% endblock page_css %}
{% block page_title %}
 {{'profiles' }}
{% endblock %}

{% block page_content %}
<div class="page-container container">
<div class="row">
{% for post in  posts %}
<a href={% url 'blog-detail-page' post.title %}>
<div class="col-md">
{% include 'posts/pages/post.page.html' %}
</div>
</a> 
{% endfor %}
</div>
</div>

{% endblock page_content %}

