/* header styling for nav bar */

.navbar-brand-name {
    font-family: Rancho;
    text-transform: capitalize;
    font-size: xx-large;
    color: #080505 !important;
}

.anchor-tag{
    cursor: pointer;
}

.bg-primary {
    --bs-bg-opacity: 0.2;
}